<div class="centered-content">
  <div class="white-box">
    <h1 class="title has-text-primary">Login</h1>

    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input
          class="input has-background-light"
          type="email"
          placeholder="Email"
          #emailRef
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input
          class="input has-background-light"
          type="password"
          placeholder="Password"
          #passwordRef
        />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field is-pulled-right">
      <p class="control">
        <button
          class="button is-success"
          (click)="onClickLoginButton(emailRef.value, passwordRef.value)"
        >
          Login
        </button>
      </p>
    </div>
    <p>
      You can
      <a class="linkToSignup" routerLink="/signup">Create new account</a> here!
    </p>
  </div>
</div>
