<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">Edit Task</h1>

    <input
      [(ngModel)]="inputValue"
      #listTitleInput
      class="input has-background-light is-medium"
      type="text"
      placeholder="Enter task name..."
    />
    <br /><br />
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/">Cancel</button>
      <button
        (click)="editTask()"
        class="button is-primary has-text-white is-medium"
      >
        Edit
      </button>
    </div>
  </div>
</div>
